<!DOCTYPE html>
<html lang="">

    <head>
        <meta charset="UTF-8" />
        <title>f3m</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">f3m</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">        
            <?php echo $this->render(Base::instance()->get('content')); ?>
        </div>

        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>

</html>
