<!DOCTYPE html>
<html lang="">

    <head>
        <meta charset="UTF-8" />
        <title>f3m</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT Sans">
        <link rel="stylesheet" href="fontawesome/css/all.css" />
    </head>

    <body>
        <div>        
            <?php echo $this->render(Base::instance()->get('content')); ?>
        </div>
    </body>

</html>
