<!DOCTYPE html>
<html lang="">

    <head>
        <meta charset="UTF-8" />
        <title>f3m</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
    </head>

    <body>

        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">f3m</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">        
                <?php echo $this->render(Base::instance()->get('content')); ?>
            </div>
        </main>
        <footer class="page-footer">
            <div class="container sticky">
                <p><?php echo Base::instance()->format('{0} msecs / {1} Kibytes', round(1e3 * (microtime(TRUE) - $TIME), 2), round(memory_get_usage(TRUE) / 1e3, 1)); ?></p>
            </div>
        </footer>

        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>

</html>
